/* CSS Document by haohao*/

body{font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,form,img,ul,li,dl,dt,dd,p,div,span{margin:0;padding:0;border:0;}
input{margin:0;padding:0;}
li{list-style:none;list-style-type:none;}
.del{white-space:nowrap;overflow:hidden;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.none{display:none;}
.block{display:block;}
/*处理文本框文字溢出问题，overflow可强制去掉多余部分的代码*/
.wrap{word-wrap:break-word;overflow:hidden;}
/*link*/
a:link{color:#005a98;text-decoration:none}
a:active{color:#005a98;text-decoration:none} 
a:visited{color:#626f91;text-decoration:none}
a:hover{color:#cf0010;text-decoration:underline}


#dw1{ background-image: url(qmenu.png); position:relative;left:230px;top:12px;}
#dw2{ background-image: url(qmenu.png); position:absolute;left:230px;top:12px;}

/*通用元素*/
.mgl30{margin-left:30px;}
.mgr0{margin-right:0px;}
.mgt30{margin-top:30px;}
.mgt25{margin-top:25px;}
.mgt10{margin-top:10px;}
.mgb10{margin-bottom:10px;}
.mgr10{margin-right:10px;}
.mgl10{margin-left:10px;}
.mgl5{margin-left:5px;}
.mgr5{margin-right:5px;}
.mgb5{margin-bottom:5px;}
.mgt5{margin-top:5px;}
.pdl10{padding-left:10px;}
.pdt5{padding-top:5px;}
.pdt2{padding-top:2px;}

body{background:#24AEEF;}
#container{width:90%;margin:0 auto;padding:0 50px;}
.applytitle{width:100%;text-align:center;margin-top:35%;}
.applytitle p{font-size:46px;font-weight:500;color:#025982;}

.applyform{width:100%;float:left;padding-top:50px;margin-bottom:50px;}
.applyform li{width:96%;height:20%;background:#FFFFFF;float:left;margin:20px 0 20px 20px;}
.applyform li label{font-size:30px;color:#666666;float:left;padding-top:20px;padding-left:20px;}
.applyform input{border:0;width:80%;height:80px;margin-left:20px;-webkit-appearance: none;}
.applyform .submit{width:90%;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size:40px;
background:#0383C0;border:2px solid #045A83;height:80px;color:#FFFFFF;margin:0 auto;}
.submitbox{width:96%;float:left;padding-left:70px;padding-top:30px;}

<!--结束apply-->



















